NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://abura:abura123@localhost:5432/abura_db
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=seu_secret_aqui

# SMS (ex: Twilio)
SMS_ACCOUNT_SID=
SMS_AUTH_TOKEN=
SMS_FROM_NUMBER=
